// bower:scss
@import "bourbon/dist/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

@import 'test';

html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1.8rem;
}

.testcase {
  clear: both;
  margin-bottom: 5rem;
  float: left;
  width: 100%;

  .good,
  .bad {
    @include span-columns(6);
  }
}
